root = true

[*.py]
max_line_length = 120
indent_style = space
indent_size = 4
known_first_party = frosted
balanced_wrapping = true
ignore_frosted_errors = E103,W201
ignore_frosted_errors_for_test_function_calls.py = E101
ignore_frosted_errors_for_test_return_with_arguments_inside_generator.py = E101
skip = runtests.py,build
